* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
background-color: gray;
padding: 10px 0px;
height: 75px;
}

main {
    height: calc(100vh - 75px);
    background-color: black;
    overflow: auto;
}

/*classi di layout*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/*classi colonne*/
.col-14 {
width:calc(100% / 7);

}

.col-25 {
    width: 25%;
   
}

.col-50 {
    width: 50%;
   
}

/* classi di utility*/

img {
    width: 100%;
    padding: 5px 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
ul li {
    
    color: white;
    padding: 0px 10px;
}
   
.btn {
    
    background-color: lightgray;
    color: red;
    font-weight: 700;
    border: none;
    margin-top: 5px;
}



   
   